<!doctype html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Listado Ruotolo</title>
</head>
<body>

  <section id="listado-general" [ngStyle]="{'padding-top': '50px', 'padding-bottom':'50px'}">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <div class="card">
            <div class="card-header">
              <h3>Listado de Alumnos del Colegio</h3>
              <p>Ordenados por Apellido</p>
            </div>
            <div class="card-body">
              <ul class="list-group list-group-flush">
                <li class="list-group-item" *ngFor="let alumno of alumnos" [ngStyle]="{'cursor': 'pointer'}">{{ alumno }}</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>



</body>
</html>
